# Default ignored files
/data/
/eda/
/results/
/shelf/
/.idea/
.DS_Store
*.pyc
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
